<%- include('./partials/header') %>
<!--<nav aria-label="Breadcrumb">-->
<!--    <ul id="breadcrumb-list">-->
<!--    </ul>-->
<!--</nav>-->

<!--<script>-->
<!--    // Controleer of er een vorige pagina is opgeslagen in de sessie-->
<!--    if (sessionStorage.previousPage) {-->
<!--        // Voeg de vorige pagina toe aan de breadcrumb-->
<!--        var breadcrumbList = document.getElementById("breadcrumb-list");-->
<!--        var previousPage = sessionStorage.previousPage;-->
<!--        var previousPageName = previousPage.substring(previousPage.lastIndexOf('/') + 1); // Haal de paginanaam uit de URL-->
<!--        breadcrumbList.innerHTML += `<li><a href="${previousPage}">${previousPageName}</a></li>`;-->
<!--    }-->

<!--    // Sla de huidige pagina op in de sessie voor gebruik op de volgende pagina-->
<!--    sessionStorage.previousPage = window.location.href;-->
<!--</script>-->
<div class="details-grid-container">
    <img src="https://fdnd-agency.directus.app/assets/<%= items.afbeelding %>" alt="Boek">
    <article class="description">
        <h2>Omschrijving</h2>
        <hr class="horizontal-line">
        <%- items.description %>
    </article>
    <button class="details-button">Details</button>
    <article class="details">
        <div class="book-details">
            <p><strong>Uitgever:</strong> <%= items.publisher %></p>
            <p><strong>Auteur:</strong> <%= items.auteur %></p>
            <p><strong>Genre:</strong> <%= items.genre %></p>
            <p><strong>Taal:</strong> <%= items.language %></p>
            <p><strong>Editie:</strong> <%= items.editie %></p>
            <p><strong>Prijs:</strong> <%= items.price %></p>
            <p><strong>ISBN Nummer:</strong> <%= items.ISBN %></p>
        </div>
        <div class="cd-details">
            <p><strong>Uitgever:</strong> <%= items.publisher %></p>
            <p><strong>Auteur:</strong> <%= items.auteur %></p>
            <p><strong>Genre:</strong> <%= items.genre %></p>
            <p><strong>Taal:</strong> <%= items.language %></p>
            <p><strong>Editie:</strong> <%= items.editie %></p>
            <p><strong>Prijs:</strong> <%= items.price %></p>
        </div>
        <div class="activity-details">
            <p><strong>Datum en tijd:</strong> <%= items.datetime %></p>
            <p><strong>Locatie:</strong> <%= items.location %></p>
            <p><strong>Prijs:</strong> <%= items.price %></p>
        </div>
        <div class="empty-details">
            <p><strong>Er is helaas geen informatie beschikbaar...</strong></p>
        </div>
    </article>

    <section class="reviews">
        <h2>Recenties</h2>
        <article class="review-item">
            <ul>
                <% reviews.forEach(review => { %>
                    <li><strong><%= review.name %>:</strong> <%= review.message %></li>
                <% }) %>
            </ul>
        </article>
        <button id="toggle-review">Plaats recentie</button>
    </section>

    <div id="review-pop-up">
        <form id="review-form" action="/submit-review" method="POST">
            <h2>Plaats een recentie</h2>
            <label for="review-name">Naam:</label>
            <input id="review-name" type="text" name="name" placeholder="Voer hier uw naam in" required>
            <label for="review-message">Bericht:</label>
            <textarea id="review-message" name="message" placeholder="Typ hier uw bericht" required></textarea>
            <button id="review-submit" type="submit">Plaats recentie</button>
        </form>
    </div>

</div>

<form class="bookmark" action="/save-bookmark" method="POST">
    <!-- Verborgen inputveld om het item-id mee te sturen -->
    <input type="hidden" name="itemId" value="<%= items.id %>">

    <button id="bookmarkSubmit" class="bookmarkButton <%= bookmarked ? 'bookmark-icon' : 'bookmarkChecked check-icon-bookmark-checked' %>">
        <svg class="bookmark-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50">
            <path d="M19 3h-14c-1.1 0-2 .9-2 2v14l8-4.67 8 4.67v-14c0-1.1-.9-2-2-2z"/>
        </svg>
        <svg class="check-icon-bookmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path d="M9 16.2l-3.5-3.5c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l4.2 4.2c.2.2.4.3.7.3s.5-.1.7-.3l8.5-8.5c.4-.4.4-1 0-1.4s-1-.4-1.4 0l-7.8 7.8z"/>
        </svg>

    </button>
</form>
<%- include('./partials/footer') %>

<script>
    document.documentElement.classList.add('js');

    const detailsButton = document.querySelector('.details-button');
    const details = document.querySelector('.details');
    let detailsCheck = false;
    let type = '<%= items.item_type %>';
    const bookDetails = document.querySelector('.book-details');
    const cdDetails = document.querySelector('.cd-details');
    const activityDetails = document.querySelector('.activity-details');
    const emptyDetails = document.querySelector('.empty-details');

    detailsButton.addEventListener('click', function () {
        if (detailsCheck === false) {
            detailsActive();
            show();
        } else {
            detailsNonActive();
        }
    });

    function detailsActive() {
        detailsCheck = true;
        details.classList.add('details-active');
    }

    function detailsNonActive() {
        detailsCheck = false;
        details.classList.remove('details-active');
    }

    function show() {
        if (type === 'book') {
            bookDetails.style.display = 'block';
        } else if (type === 'cd') {
            cdDetails.style.display = 'block';
        } else if (type === 'activity') {
            activityDetails.style.display = 'block';
        } else {
            emptyDetails.style.display = 'block';
        }
    }

    // review function op detail pagina
    const toggleReviewButton = document.getElementById('toggle-review');
    const reviewPopUp = document.getElementById('review-pop-up');


    toggleReviewButton.addEventListener('click', function () {
        reviewActive();
        console.log('click')
    })

    function reviewActive() {

        // Controleer of de browser de style.display eigenschap ondersteunt
        if (typeof reviewPopUp.style.display === 'undefined') {
            // Voeg de CSS-klasse toe om het pop-upvenster weer te geven
            reviewPopUp.classList.remove('js');
        } else {
            // Gebruik de standaardmethode om het pop-upvenster weer te geven
            reviewPopUp.style.display = 'block';
        }


    }

    //form
    document.getElementById('review-form').addEventListener('submit', function (event) {
        event.preventDefault(); // Voorkom standaardgedrag van het formulier (pagina vernieuwen)

        // Verzend de recentiegegevens naar de server met een POST-verzoek
        fetch('/submit-review', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: document.getElementById('review-name').value,
                message: document.getElementById('review-message').value
            })
        })
            .then(response => {
                if (response.ok) {
                    // Als de recentie succesvol is toegevoegd, herlaad dan de pagina
                    window.location.reload();
                } else {
                    // Als er een fout optreedt, geef dan een foutmelding weer
                    alert('Er is een fout opgetreden bij het toevoegen van de recentie.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

    // functie voor bookmark transition
    bookmarkButton = document.querySelector('.bookmarkButton');
    bookmarkIcon = document.querySelector('.bookmark-icon');
    checkIcon = document.querySelector('.check-icon-bookmark');


    bookmarkButton.addEventListener('click', function () {
        checkBookmark()
        console.log('ik ben geklikt');
    });

    function checkBookmark() {
        bookmarkButton.classList.toggle('bookmarkChecked');
        bookmarkIcon.classList.toggle('bookmark-icon-checked');
        checkIcon.classList.toggle('check-icon-bookmark-checked');
        console.log('de functie werkt');
    }








</script>

